<!-- <h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p> -->
<div class="container pt-5 d-flex flex-column">
  <h1>Stupid Coaching</h1>
  <div class = "your-message">
    <p><%= @question %></p>
    <p>-You</p>
  </div>
  <div class="coach-message">
    <p><%= @answer %></p>
    <p>-Coach</p>
  </div>
</div>
