// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.your-message{
  background-color: #FFFDE1;
  padding: 10px;
  border-left: 5px #DDDDDD solid;
  margin-bottom: 10px;
}

.coach-message{
  padding: 10px;
  border-left: 5px #DDDDDD solid;
}
